.forum {
    width: 700px;
}

.forum__head {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.forum__headTitle {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.forum__headTitle:first-child {
    flex: 1;
    margin-left: 15px;
}

.forum__headTitle:not(:first-child),
.forum__itemInner:not(:first-child) {
    width: 120px;
    text-align: center;
}

.forum__item {
    display: flex;
    align-items: center;
    margin-top: 25px;
    column-gap: 10px;
}

.forum__itemInner {
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0px 15px;
    color: #ffffff;
    border-radius: 25px;
    background-color: #000000;
    user-select: none;
}

.forum__itemInner:first-child {
    flex: 1;
    cursor: pointer;
}

.forum__itemInner:not(:first-child) {
    justify-content: center;
}
