.levels {
  display: flex;
  flex-wrap: wrap;
  gap: var(--width-gutter);
  width: calc(var(--width-columns) * 12 + var(--width-gutter) * 13);
  padding: 30px 20px;
}

.levels__level {
  display: block;
  width: calc(var(--width-columns) * 3 + var(--width-gutter) * 2);
  padding: 5px 10px;
  border: 1px solid var(--layout-black);
  border-radius: 30px;
  background-color: var(--layout-white);
}

.levels__subtitle {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  border-radius: 15px;
  background-color: var(--layout-gray);
}

.levels__rating {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 10px 0;
}

.levels__rating svg:first-child {
  transform: translateY(-11px) rotate(25deg) scale(0.8);
}

.levels__rating svg:last-child {
  transform: translateY(-11px) rotate(-25deg) scale(0.8);
}
